body {
	font-family: tahoma;
	font-size: 14px;
}
form div {
	margin-bottom: 10px;
}
label {
	font-weight: bold;
	line-height: 20px;
}
form input#name {
	margin-left: 63px;
}
form input#email {
	margin-left: 41px;
}
form input#pass {
	margin-left: 48px
}
form {
	width: 400px;
	border: 1px solid black;
	background: #A8D4FF;
	padding: 20px 20px;
	margin: auto;
}
#button:hover {
	background-color: blue;
	color: #FFF;
}